{% extends 'base.html' %}

{% block title %}{{ movie.title_orig }}{% endblock %}

{% block content %}
<div class="title_cz">CZ: {{ movie.title_cz }}</div>
<div class="title_sk">SK: {{ movie.title_sk }}</div>
<div class="title_orig">Original title: {{ movie.title_orig }}</div>
<div class="movie_country">Country:
    {% for country in countries %}
      {{ country.name }}
    {% endfor %}
</div>
<div class="genre">Genre:
    {% for genre in genres %}
      {{ genre.name }}
    {% endfor %}
</div>
<div class="released">released: {{ movie.released }}</div>
<div class="length">length: {{ movie.length }} min</div>
<div class="directors">Directors:
    {% for director in directors %}
        <span class="director">
            <a href="{% url 'staff' director.id %}">{{ director.name }} {{ director.surname }}</a>
        </span>
    {% endfor %}
</div>
<div class="actors">Actors:
    {% for actor in actors %}
        <span class="actor">
            <a href="{% url 'staff' actor.id %}">{{ actor.name }} {{ actor.surname }}</a>
        </span>
    {% endfor %}
</div>
<div class="description">description: {{ movie.description }}</div>
<!-- TODO: expanses -->
<!-- TODO: earnings -->
<div class="age_restriction">Age restriction: {{ movie.age_restriction }}</div>
<div class="movie_images">
    {% for image in images %}
        <div class="movie_image">
            <img src="{{ image.path }}">
        </div>
        <div class="movie_image_description">
            Description: {{ image.description }}
        </div>
    {% endfor %}
</div>
<div class="trailer">trailer: <a href="{{ movie.trailer }}">Trailer</a></div>
<div class="price">price: {{ movie.price }}</div>
<div class="link">link: <a href="{{ movie.link }}">link</a></div>
<div class="movie_created">created: {{ movie.created }}</div>
<div class="movie_updated">updated: {{ movie.updated }}</div>
<div class="avg_rating">Average rating: {{ avg_rating.rating__avg|floatformat:"2" }}</div>
{% if request.user.is_authenticated %}
    <form action="{% url 'rate_movie' %}" method="post">
        {% csrf_token %}
        <label for="rating">Your rating (between 1 and 5):</label>
        <input type="number" id="rating" name="rating" min="1" max="5">
        <input type="hidden"  name="movie_id" value="{{ movie.id }}">
        <input type="submit">
    </form>

    {% if user_rating %}
        Your rating is: {{ user_rating.rating }}
    {% endif %}

    <a href="{% url 'update_movie' movie.id %}">update</a>
    <a href="{% url 'delete_movie' movie.id %}">delete</a>
{% endif %}

{% endblock %}
