{% extends 'base.html' %}

{% block title %}{{ movie.title_orig }}{% endblock %}

{% block content %}
<div class="title_cz">CZ: {{ movie.title_cz }}</div>
<div class="title_sk">SK: {{ movie.title_sk }}</div>
<div class="title_orig">Original title: {{ movie.title_orig }}</div>
<div class="movie_country">Country:
    {% for country in countries %}
      {{ country.name }}
    {% endfor %}
</div>
<div class="genre">Genre:
    {% for genre in genres %}
      {{ genre.name }}
    {% endfor %}
</div>
<div class="released">released: {{ movie.released }}</div>
<div class="length">length: {{ movie.length }} min</div>
<div class="directors">Directors:
    {% for director in directors %}
        <span class="director">
            {{ director.name }} {{ director.surname }}
        </span>
    {% endfor %}
</div>
<div class="actors">Actors:
    {% for actor in actors %}
        <span class="actor">
            {{ actor.name }} {{ actor.surname }}
        </span>
    {% endfor %}
</div>
<div class="description">description: {{ movie.description }}</div>
<!-- TODO: expanses -->
<!-- TODO: earnings -->
<div class="age_restriction">Age restriction: {{ movie.age_restriction }}</div>
<div class="movie_images">
    {% for image in images %}
        <div class="movie_image">
            <img src="{{ image.path }}">
        </div>
        <div class="movie_image_description">
            Description: {{ image.description }}
        </div>
    {% endfor %}
</div>
<div class="trailer">trailer: <a href="{{ movie.trailer }}">Trailer</a></div>
<div class="price">price: {{ movie.price }}</div>
<div class="link">link: <a href="{{ movie.link }}">link</a></div>
<div class="movie_created">created: {{ movie.created }}</div>
<div class="movie_updated">updated: {{ movie.updated }}</div>
{% endblock %}
