body {
    background-color: lightgreen;
}

nav {
    width: 180px;
    height: 800px;
    background-color: #ccffcc;
    float: left;
}

nav ul {
    list-style: none;
}

nava li {
    display: inline-block;
}

.last-itema {
    float: right;
    margin-right: 40px;
}

.main_content {

}